<section class="console">

    <h2> 
        @if(config.formatoTiempo === 'completo') {
            <span class="display">{{ getDisplay() }}</span>
        } @else {
            Tiempo: {{ cronometro?.totalSegundos }}
        }
    </h2>

    @if(config.mostrarEstado) {
        <p>Estado: {{ cronometro?.estado }}</p>
    }

    @if(config.mostrarSentido) {
        <p>Sentido: {{ cronometro?.sentido }}</p>
    }
 
    @if(config.mostrarBotones) {
        <div class="button-bar">
            <button class="btn-start" (click)="control.set('start')" [disabled]="cronometro?.estado !== 'STOPPED'">{{ config.botones.start }}</button>
            <button class="btn-pause" (click)="control.set('pause')" [disabled]="cronometro?.estado !== 'RUNNING'">{{ config.botones.pause }}</button>
            <button class="btn-resume" (click)="control.set('resume')" [disabled]="cronometro?.estado !== 'PAUSED'">{{ config.botones.resume }}</button>
            <button class="btn-up" (click)="control.set('up')" [disabled]="cronometro?.estado === 'STOPPED' || cronometro?.sentido === 'UP'">{{ config.botones.up }}</button>
            <button class="btn-down" (click)="control.set('down')" [disabled]="cronometro?.estado === 'STOPPED' || cronometro?.sentido === 'DOWN'">{{ config.botones.down }}</button>
            <button class="btn-reset" (click)="control.set('reset')" [disabled]="cronometro?.estado === 'STOPPED'">{{ config.botones.reset }}</button>
        </div>
    }

    <app-crono-engine [control]="control" (evento)="cronometro = $event"/>

</section>
